{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static './css/homestyle.css' %}" />
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}" />
    <title>Restaurant</title>
  </head>

  <body>

    <!-- Header section -->

    <section>
      <div class="header-wrap">
        <div class="gradient-vertical">
          <div class="gradient-horizontal">
            <div class="header">
              <div class="header-navbar">
                <span>Menu</span>
                <span>About</span>
                <span>Contact</span>
              </div>
              <div class="order-button">
                <button>Order Now</button> 
              </div>
              <h1>Restaurant of India</h1>
            </div>            
          </div>
        </div>
      </div>
    </section> 
  
    <script src="{% static 'js/homescript.js' %}" ></script>
  </body>
</html>
