{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static './css/homestyle.css' %}" />
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static './css/offcanvas.css' %}" />
    <title>Restaurant</title>
  </head>

  <body>

    <!-- Header section -->

    <section>
      <div class="header-wrap">
        <div class="gradient-vertical">
          <div class="gradient-horizontal">
            <div class="header">
              <div class="header-navbar">
                <span>Menu</span>
                <span>About</span>
                <span>Contact</span>
              </div>
              <div class="order-button">
                <button>Order Now</button> 
              </div>
              <h1>Restaurant of India</h1>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <!-- Featured Menu items -->

    <section>
      <div class="daily-rank">
        <h3>Daily Meals</h3>
        <div class="nav-scroller">
          <nav class="nav nav-underline">

            <div class="nav-link" href="#">
              <img src="http://127.0.0.1:5000/dan-gold-E6HjQaB7UEA-unsplash.jpg" />
            </div>
            <div class="nav-link" href="#">
              <img src="http://127.0.0.1:5000/dan-gold-E6HjQaB7UEA-unsplash.jpg" />
            </div>

            <div class="nav-link" href="#">
              <img src="http://127.0.0.1:5000/dan-gold-E6HjQaB7UEA-unsplash.jpg" />
            </div>
            <div class="nav-link" href="#">
              <img src="http://127.0.0.1:5000/dan-gold-E6HjQaB7UEA-unsplash.jpg" />
            </div>

            <div class="nav-link" href="#">
              <img src="http://127.0.0.1:5000/dan-gold-E6HjQaB7UEA-unsplash.jpg" />
            </div>
            <div class="nav-link" href="#">
              <img src="http://127.0.0.1:5000/dan-gold-E6HjQaB7UEA-unsplash.jpg" />
            </div>

          </nav>
        </div>
      </div>
    </section>

    <script src="{% static 'js/homescript.js' %}" ></script>
  </body>
</html>
