{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Indian Restaurant</title>
  <meta content="Indian Food" name="keywords">
  <meta content="Indian Restaurant" name="description">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Libraries CSS Files -->
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'css/hover.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Responsive css -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.png">

</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <img src="{% static 'img/restaurant-logo-black-spoon-fork-knife-vector-isolated-white-background-eps-restaurant-logo-black-spoon-fork-197383068.jpg' %}" alt="logo">
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#portfolio" class="smoothScroll">Menu</a></li>
          <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->


  <!-- start section header -->
  <div id="header" class="home">

    <div class="container">
      <div class="header-content">
        <h1>We are <span class="typed"></span></h1>
        <div class="header-content-text"> 
          <p>voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
        </div>

        <ul class="list-unstyled list-social">
          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End section header -->


  <!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="{% static 'img/dan-gold-E6HjQaB7UEA-unsplash.jpg' %}" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete. </p>
            <p class="separator">Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->


  <!-- start section services -->
  <div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-android-bar"></i>
            <span>Lorem Ipsum</span>
            <p class="separator">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum, culpa qui officia deserunt mollitia animi.</p>

          </div>
          
          <div class="services-block">

            <i class="ion-android-favorite"></i>
            <span>Lorem Ipsum</span>
            <p class="separator">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum, culpa qui officia deserunt mollitia animi.</p>

          </div>
          
          <div class="services-block">

            <i class="ion-android-restaurant"></i>
            <span>Lorem Ipsum</span>
            <p class="separator">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum, culpa qui officia deserunt mollitia animi.</p>

          </div>

          <div class="services-block">

            <i class="ion-coffee"></i>
            <span>Lorem Ipsum</span>
            <p class="separator">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum, culpa qui officia deserunt mollitia animi.</p>

          </div>



          <div class="services-block">

            <i class="ion-ribbon-b"></i>
            <span>Lorem Ipsum</span>
            <p class="separator">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum, culpa qui officia deserunt mollitia animi.</p>

          </div>

        </div>

    </div>

  </div>
  <!-- end section services -->


  <!-- start section portfolio -->
  <div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>Daily Menu</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="portfolio-list">

            <ul class="nav list-unstyled" id="portfolio-flters">
              <li class="filter filter-active" data-filter=".all">all</li>
              <li class="filter" data-filter=".branding">branding</li>
              <li class="filter" data-filter=".mockups">breakfast</li>
              <li class="filter" data-filter=".uikits">dinner</li>
              <li class="filter" data-filter=".webdesign">lanch</li>
              <li class="filter" data-filter=".photography">photography</li>
            </ul>

          </div>

          <div class="portfolio-container">
            
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits webdesign">
              <a class="popup-img" href="{% static 'img/delicious-vietnamese-food-including-pho-ga-noodles-spring-rolls-white-table_181624-34062.webp' %}">
                <img src="{% static 'img/delicious-vietnamese-food-including-pho-ga-noodles-spring-rolls-white-table_181624-34062.webp' %}" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all uikits webdesign">
              <a class="popup-img" href="{% static 'img/jason-leung-poI7DelFiVA-unsplash.jpg' %}">
                <img src="{% static 'img/jason-leung-poI7DelFiVA-unsplash.jpg' %}" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
              <a class="popup-img" href="{% static 'img/jay-wennington-N_Y88TWmGwA-unsplash.jpg' %}">
                <img src="{% static 'img/jay-wennington-N_Y88TWmGwA-unsplash.jpg' %}"  alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesig photographyn">
              <a class="popup-img" href="{% static 'img/mgg-vitchakorn-vBOxsZrfiCw-unsplash.jpg' %}">
                <img src="{% static 'img/mgg-vitchakorn-vBOxsZrfiCw-unsplash.jpg' %}" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups webdesign photography">
              <a class="popup-img" href="{% static 'img/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg' %}">
                <img src="{% static 'img/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg' %}" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits photography">
              <a class="popup-img" href="{% static 'img/big-hamburger-with-double-beef-french-fries_252907-8.webp' %}">
                <img src="{% static 'img/big-hamburger-with-double-beef-french-fries_252907-8.webp' %}" alt="img">
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->



  <!-- start sectoion contact -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">Contact Us</h2>

              <ul class="contact-details">
                <li><span>Bhayana Market</span></li>
                <li><span>Delhi, India</span></li>
                <li><span>+999 999 999 99</span></li>
                <li><span>example@example.com</span></li>
              </ul>

            </div>
          </div>

          <div class="col-lg-6">
            <form action="" method="post" role="form" class="contactForm">
              <div class="row">

                <div id="sendmessage">A tua mensagem foi enviada. Obrigada!</div>
                <div id="errormessage"></div>

                <div class="col-lg-6">
                  <div class="form-group contact-block1">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Your Message"></textarea>
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <input type="submit" class="btn btn-defeault btn-send" value="Send Message">
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start sectoion contact -->


  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">

      <p>&copy; Copyrights PATEGUANA. All rights reserved.</p>

      <div class="credits">
        Designed by <strong>Edilson Pateguana</strong>
      </div>

    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/typed.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'js/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
